<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->
@using Resources
@using System.Configuration;
@using Newtonsoft.Json;
@using MicrosoftGraph_Security_API_Sample.Models

@{
    var UserScopes = Startup.UserScopes;
    var AppId = ConfigurationManager.AppSettings["ida:AppId"];
    var RedirectUri = ConfigurationManager.AppSettings["ida:RedirectUri"];
    ViewBag.Title = Resource.App_Name;
 }


<h1 class="text-center">@ViewBag.Title</h1>

<hr />

<div class="container-fluid">
    <h2 class="text-center">Admin consent required</h2>
    <hr>
    <div class="col-md-12">
        <h4>Your Tenant admin has not given consent to this application. </h4>
        <p>
            This application requires <code>'SecurityEvents.Read.All' and 'SecurityEvents.ReadWrite.All'</code>
            permissions to access the Security API, Your application currently have <code>'@UserScopes'</code>
            permissions.
        </p>
        <hr>
        <p>
            <b>If you are the tenant admin</b>, please give this application consent to access
            the Security API data in your tenant via the link below.
            For more information on admin consent, read
            <a href="https://developer.microsoft.com/en-us/graph/docs/concepts/security-authorization#grant-permissions-to-an-application">Granting permissions to an application</a>.
        </p>
        <a href="https://login.microsoftonline.com/common/adminconsent?client_id=@AppId&amp;redirect_uri=@RedirectUri">https://login.microsoftonline.com/common/adminconsent?client_id=@AppId&amp;redirect_uri=@RedirectUri</a>
        <hr>
        <p>
            <b>If your tenant admin has given consent</b>, Then you are missing the <em>
                'SecurityEvents.Read.All' or
                'SecurityEvents.ReadWrite.All'
            </em> permissions in your app registration. Please go to
            <a href="https://apps.dev.microsoft.com">https://apps.dev.microsoft.com</a> and add
            <em>'SecurityEvents.Read.All' and 'SecurityEvents.ReadWrite.All'</em> to the delegated permissions in your application.
            Ask the admin consent to the updated permissions to the application.
        </p>
    </div>
</div>
